<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
	<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
		<%- include(theme.getLayoutPath("partials/sidebar-layout/_header.ejs")); %>
        <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
            <%- include(theme.getLayoutPath("partials/sidebar-layout/_sidebar.ejs")); %>
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <!--begin::Content wrapper-->
                <div class="d-flex flex-column flex-column-fluid">                    
                    <div id="kt_app_content" class="app-content flex-column-fluid">
                        <div id="kt_app_content_container" class="app-container container-fluid mg_t_30">

                            <div class="d-flex flex-column flex-column-fluid">
                                <!--begin::Header-->
                                <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">
                                    <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">
                                        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
                                            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">회사 정보</h1>
                            
                                            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                                                <li class="breadcrumb-item text-muted">담아페이먼츠</li>
                                                <li class="breadcrumb-item"><span class="bullet bg-gray-400 w-5px h-2px"></span></li>
                                                <li class="breadcrumb-item text-muted">Subscription </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Header-->                                        
                                                
                                <!--begin::Content-->
                                <div id="kt_app_content" class="app-content  flex-column-fluid ">
                                    <div id="kt_app_content_container" class="app-container container-xxl">
                                        <div class="card">
                                            <div class="card-body p-0">

                                                <!--begin::form-->
                                                <div class="card card-flush h-lg-100">
                                                    <div class="card-header pt-7">
                                                        <div class="card-title">
                                                            <i class="ki-duotone ki-badge fs-1 me-2">
                                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                                                            </i>
                                                            <h2>INFORMATION</h2>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="card-body pt-5">
                                                        <!--begin::Input group-->
                                                        <div class="mb-7">
                                                            <label class="fs-6 fw-semibold mb-3">
                                                                <span>회사로고</span>
                                                                <span class="ms-1" title="해당 형식만 첨부가능합니다. (png, jpg, jpeg)">
                                                                    <i class="ki-duotone ki-information fs-7"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span>
                                                            </label>
                                            
                                                            <div class="mt-1">
                                                                <div class="image-input image-input-outline image-input-placeholder image-input-empty image-input-empty " data-kt-image-input="true">
                                                                    <div class="image-input-wrapper w-100px h-100px" style="background-image: url('')"></div>
                                            
                                                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" title="Change avatar" data-kt-initialized="1">
                                                                        <i class="ki-duotone ki-pencil fs-7"><span class="path1"></span><span class="path2"></span></i>
                                                                        <input type="file" name="avatar" accept=".png, .jpg, .jpeg">
                                                                        <input type="hidden" name="avatar_remove">
                                                                    </label>
                                            
                                                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                                                                        <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i></span>
                                            
                                                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
                                                                        <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>                        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::Input group-->
                                            
                                                        <!--begin::Input group-->
                                                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                                            <label class="fs-6 fw-semibold form-label mt-3">
                                                                <span class="required">회사명</span>
                                                                <span class="ms-1" title="회사명을 입력해주세요">
                                                                    <i class="ki-duotone ki-information fs-7">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                        <span class="path3"></span>
                                                                    </i>
                                                                </span>
                                                            </label>
                                            
                                                            <input type="text" class="form-control form-control-solid" value="">
                                                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                        </div>
                                                        <!--end::Input group-->
                                            
                                                        <!--begin::Input group-->
                                                        <div class="fv-row mb-7">
                                                            <label class="fs-6 fw-semibold form-label mt-3">
                                                                <span>사업자번호</span>
                                                                <span class="ms-1" title="형식에 맞게 입력해주세요. (ooo-oo-ooooo).">
                                                                    <i class="ki-duotone ki-information fs-7">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                        <span class="path3"></span>
                                                                    </i>
                                                                </span>
                                                            </label>
                                            
                                                            <input type="text" class="form-control form-control-solid" value="">
                                                        </div>
                                                        <!--end::Input group-->

                                                        <!--begin::Input group-->
                                                        <div class="fv-row mb-7">
                                                            <label class="fs-6 fw-semibold form-label mt-3">
                                                                <span>주소</span>
                                                                <span class="ms-1" title="">
                                                                    <i class="ki-duotone ki-information fs-7">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                        <span class="path3"></span>
                                                                    </i>
                                                                </span>
                                                            </label>
                                            
                                                            <input type="text" class="form-control form-control-solid" value="">
                                                        </div>
                                                        <!--end::Input group-->
                                            
                                                        <!--begin::Row-->
                                                        <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                                                            <!--begin::Col-->
                                                            <div class="col">
                                                                <!--begin::Input group-->
                                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                                    <label class="fs-6 fw-semibold form-label mt-3">
                                                                        <span class="required">이메일</span>
                                            
                                                                        <span class="ms-1" title="이메일 형식에 맞게 입력해주세요.">
                                                                            <i class="ki-duotone ki-information fs-7">
                                                                                <span class="path1"></span>
                                                                                <span class="path2"></span>
                                                                                <span class="path3"></span>
                                                                            </i>
                                                                        </span>
                                                                    </label>
                                            
                                                                    <input type="email" class="form-control form-control-solid" name="email" value="">
                                                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                                </div>
                                                                <!--end::Input group-->
                                                            </div>
                                                            <!--end::Col-->
                                            
                                                            <!--begin::Col-->
                                                            <div class="col">
                                                                <!--begin::Input group-->
                                                                <div class="fv-row mb-7">
                                                                    <label class="fs-6 fw-semibold form-label mt-3">
                                                                        <span>전화번호</span>
                                                                        <span class="ms-1" title="전화번호를 입력해주세요.">
                                                                            <i class="ki-duotone ki-information fs-7">
                                                                                <span class="path1"></span>
                                                                                <span class="path2"></span>
                                                                                <span class="path3"></span>
                                                                            </i>
                                                                        </span>
                                                                    </label>
                                            
                                                                    <input type="text" class="form-control form-control-solid" name="phone" value="">
                                                                </div>
                                                                <!--end::Input group-->
                                                            </div>
                                                            <!--end::Col-->
                                                        </div>
                                                        <!--end::Row-->
                                            
                                                        <div class="fv-row mb-7">
                                                            <label class="fs-6 fw-semibold form-label mt-3">
                                                                <span>메모</span>
                                                                <span class="ms-1" title="필요한 정보를 입력하세요.">
                                                                    <i class="ki-duotone ki-information fs-7"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span>
                                                            </label>
                                            
                                                            <textarea class="form-control form-control-solid" name="notes"></textarea>
                                                        </div>
                                            
                                                        <div class="separator mb-6"></div>
                                            
                                                        <div class="d-flex justify-content-end">
                                                            <a href="/company_list" data-kt-contacts-type="cancel" class="btn btn-light me-3">목록</a>
                                            
                                                            <div class="btn btn-primary" id="save_company">
                                                                <span class="indicator-label">저장</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <div class="card-px text-center py-20 my-10">
                                                    <h2 class="fs-2x fw-bold mb-10">Welcome to Subscriptions App</h2>
                                                    <p class="text-gray-400 fs-4 fw-semibold mb-10">
                                                        There are no subscriptions added yet.<br>
                                                        Kickstart your business by adding a your first subscription
                                                    </p>
                                                    <a href="#" class="btn btn-primary">Add</a>
                                                </div> -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Content-->					
                            </div>


                        </div>
                    </div>

                    <%#- include(theme.getLayoutPath("partials/sidebar-layout/_content.ejs")); %>
                </div>
                <!--end::Content wrapper-->
                <%- include(theme.getLayoutPath("partials/sidebar-layout/_footer.ejs")); %>
            </div>
        </div>
	</div>
</div>

<%- include(theme.getPartialPath("partials/_drawers.ejs")); %>

<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>

<script>
    var companyId = <%= data.companyId %>;

    $('#save_company').on('click', function(){
        
    });

</script>
