<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-fluid">

		<div style="display: flex;justify-content: space-between;">
			<div class="card card-flush h-md-50 mb-5 mb-xl-10" style="width: 50%;margin-right: 2%;">
				<!--begin::Header-->
				<div class="card-header pt-5">
					<div class="card-title d-flex flex-column">
						<span class="text-gray-400 pt-1 fw-semibold fs-6">총 이용수</span>
						<div class="d-flex align-items-center">
							<span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2">347 건</span>
						</div>
					</div>
				</div>
				<!--end::Header-->

				<!--begin::Card body-->
				<div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center"></div>
				<!--end::Card body-->
			</div>
		
			<div class="card card-flush h-md-50 mb-5 mb-xl-10" style="width: 50%;">
				<!--begin::Header-->
				<div class="card-header pt-5">
					<div class="card-title d-flex flex-column">
						<span class="text-gray-400 pt-1 fw-semibold fs-6">이번달 이용수</span>
						<div class="d-flex align-items-center">
							<span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2">347 건</span>
							<!-- <span class="badge badge-light-success fs-base"><i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1"><span class="path1"></span><span class="path2"></span></i>2.2%</span> -->
						</div>
					</div>
				</div>
				<!--end::Header-->

				<!--begin::Card body-->
				<div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center"></div>
				<!--end::Card body-->
			</div>
		</div>
		
		
		<!--begin::Row-->
		<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
			<!--begin::Col-->
			<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
				<%- include(theme.getPartialPath("partials/widgets/cards/_widget-20.ejs")); %>
				<%- include(theme.getPartialPath("partials/widgets/cards/_widget-7.ejs")); %>
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
				<%- include(theme.getPartialPath("partials/widgets/cards/_widget-17.ejs")); %>
				<%- include(theme.getPartialPath("partials/widgets/lists/_widget-26.ejs")); %>
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xxl-6">
				<%- include(theme.getPartialPath("partials/widgets/engage/_widget-10.ejs")); %>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
		<!--begin::Row-->
		<div class="row gx-5 gx-xl-10">
			<!--begin::Col-->
			<div class="col-xxl-6 mb-5 mb-xl-10">
				<%- include(theme.getPartialPath("partials/widgets/charts/_widget-8.ejs")); %>
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xl-6 mb-5 mb-xl-10">
				<%- include(theme.getPartialPath("partials/widgets/tables/_widget-16.ejs")); %>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
		<!--begin::Row-->
		<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
			<!--begin::Col-->
			<div class="col-xxl-6">
				<%- include(theme.getPartialPath("partials/widgets/cards/_widget-18.ejs")); %>
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xl-6">
				<%- include(theme.getPartialPath("partials/widgets/charts/_widget-36.ejs")); %>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
		<!--begin::Row-->
		<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
			<!--begin::Col-->
			<div class="col-xl-4">
				<%- include(theme.getPartialPath("partials/widgets/charts/_widget-35.ejs")); %>
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xl-8">
				<%- include(theme.getPartialPath("partials/widgets/tables/_widget-14.ejs")); %>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
		<!--begin::Row-->
		<div class="row gx-5 gx-xl-10">
			<!--begin::Col-->
			<div class="col-xl-4">
				<%- include(theme.getPartialPath("partials/widgets/charts/_widget-31.ejs")); %>
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xl-8">
				<%- include(theme.getPartialPath("partials/widgets/charts/_widget-24.ejs")); %>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
	</div>
	<!--end::Content container-->
</div>
<!--end::Content-->